<fuse-loading-bar [autoMode]="showLoading"></fuse-loading-bar>
<h1 class="text-center text-2xl font-bold" mat-dialog-title>Création d'un statut de fuite</h1>
<mat-dialog-content class="py-6">
    <div class="space-y-6">
        <!-- Alert -->
        <fuse-alert *ngIf="showAlert" [@shake]="alert.type === 'error'" [appearance]="'outline'" [showIcon]="true" [type]="alert.type"
                    class="mt-4">
            {{ alert.message }}
        </fuse-alert>

        <!-- Sign Up form -->
        <form #saveSpecNgForm="ngForm" [formGroup]="formGroup" class="space-y-6">

            <!-- Libelle field -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Libellé</mat-label>
                <input formControlName="libelle" id="libelle" matInput placeholder="Entrez le libellé du statut">
                <mat-icon matSuffix>label</mat-icon>
                <mat-error *ngIf="formGroup.get('libelle').hasError('required')">Champ obligatoire</mat-error>
            </mat-form-field>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="justify-between">
    <button (click)="onNoClick()" color="warn" mat-button>Annuler</button>
    <button (click)="saveStatut()" [disabled]="formGroup.invalid" class="base-bg-color" mat-button>Enregistrer</button>
</mat-dialog-actions>
